<!-- A nav bar with tailwind -->
<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
	<div class="flex items-center flex-shrink-0 text-white mr-6">
		<span class="font-semibold text-xl tracking-tight">Chat.IO</span>
	</div>
	<div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
		<div class="text-sm lg:flex-grow">
			<a
				href="/room/create"
				class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
				Create Room
			</a>
            <a
				href="/room/join"
				class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
				Join Room
			</a>
		</div>
		<div>
			<a
				href="#"
				class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0"
				>Online: <span id="onlineUsersCount">loading...</span></a
			>

			<% if(roomName !== 'undefined') { %>
				<!-- display room name  -->
				<a
					href="#"
					class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0"
					>Room: <span id="roomName"><%= roomName %></span></a
			<% } %>

			<!-- display username  -->
			<a
				href="#"
				class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0"
				>Username: <span id="userName"></span></a
			>
		</div>
	</div>
</nav>
